[submodule "janus/align"]
	path = janus/align
	url = https://github.com/vim-scripts/Align.git
[submodule "janus/auto_align"]
	path = janus/auto_align
	url = https://github.com/vim-scripts/AutoAlign.git
[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-pasta"]
	path = janus/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "janus/argumentrewrap"]
	path = janus/argumentrewrap
	url = https://github.com/jakobwesthoff/argumentrewrap.git
